<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog>
    <targets>
      <target name ="logfile" type="File" filename="./log/mik-Client.log" layout="[${longdate} ${level}]  ${message}" />
      <target
        name="logfile"
        type="File"
        layout="${longdate} [${uppercase:${level:padding=-5}}] ${callsite}() ${message} ${exception:format=tostring}"
        fileName="${basedir}/logs/${date:format=yyyyMMdd}.log"
        encoding="UTF-8"
        archiveFileName="${basedir}/logs/archives/archive.{#}.log"
        archiveEvery="Day"
        archiveNumbering="Rolling"
      />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
  </nlog>
</configuration>